<form>
    <h4>{{ formTitle }}</h4>
    <div>
        <label for="username">Username: </label>
        <input type="text" name="username" id="username" size="30" [(ngModel)]="user.username" placeholder="Enter your username...">
    </div>

    <br>

    <div>
        <label for="password">Password: </label>
        <input type="password" name="password" id="password" size="30" [(ngModel)]="user.password" placeholder="Enter your password...">
    </div>

    <br>
    <br>
    <button type="button" (click)="onLoginClicked()">Login</button>
</form>