<form>
    <h4>{{ formTitle }}</h4>
    <div>
        <label for="username">Username: </label>
        <input type="text" name="username" id="username" size="30" [(ngModel)]="user.username" placeholder="Enter your desired username..."><br>
    </div>

    <br>

    <div>
        <label for="password">Password: </label>
        <input type="password" name="password" id="password" size="30" [(ngModel)]="user.password" placeholder="Enter your password..."><br>
    </div>

    <br>

    <div>
        <label for="confirmPassword">Confirm Password: </label>
        <input type="password" name="confirmPassword" id="confirmPassword" size="30" [(ngModel)]="confirmPassword" placeholder="Please confirm your password..."><br>
    </div>

    <br>
    <br>
    <button type="button" (click)="onRegisterClicked()">Register</button>
</form>