<nav>
    <h2>Survey Poodle</h2>

    <ul>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
    </ul>
</nav>