nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #a3a3a3;
}

h2 {
    padding-left: 2em;
}

ul {
    padding-right: 2em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}

li {
    padding: 2em;
    overflow: hidden;
    text-align: center;
}

a {
    padding: inherit;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #1e1e1e;
}
a:hover {
    background-color: #eaeaea;
    border-radius: 15%;
}